<div class= "form-container">
  <div class= "form-card">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <table>
        <h3>新しいアカウントを作成</h3>
        <tr>
          <td ><%= f.text_field :name, placeholder: "ユーザー名" ,class: "searchbox" %></td>
        </tr>
        <tr>
          <td ><%= f.email_field :email, placeholder: "メールアドレス" ,autofocus: true, autocomplete: "email" ,class: "searchbox"%></zwtd>
        </tr>
        <tr>
          <td ><%= f.password_field :password,autocomplete: "new-password", placeholder: "パスワード" ,class: "searchbox" %></td>
        </tr>
        <tr>
          <td ><%= f.password_field :password_confirmation, autocomplete: "new-password" , placeholder: "パスワード確認"  ,class: "searchbox" %></td>
        </tr>
      </table>

      <div>
        <ul>
          <li><%= f.submit "新しいアカウントを作成", class: "btn btn-primary"  %></li>
          <li><%= link_to "すでにアカウントをお持ちの方はログイン",new_user_session_path, class:"userList"%></li>
        </ul>
      </div>

    <% end %>
  </div>
</div>


