 
 <div class= "form-container">
 <div class= "form-card">
    <%= form_with model: @user, user_path, local: true do |f| %>
      <table>
      <h3>新しいアカウント編集</h3>
          <tr>
          <th><%= f.label :email ,"メールアドレス" %></th>
          <td ><%= f.text_field :email, placeholder: @user.email %></zwtd>
          </tr>
          <tr>
          <th><%= f.label :password ,"変更後パスワード（変更する場合のみ入力）" %></th>
          <td ><%= f.password_field :password %></td>
          </tr>
          <tr>
          <th><%= f.label :password ,"パスワード確認用（変更する場合のみ入力））" %></th>
          <td ><%= f.password_field :password_confirmation %></td>
          </tr>
          <tr>
          <th><%= f.label :password ,"現在のパスワード" %></th>
          <td ><%= f.password_field :password, placeholder:  @user.password  %></td>
          </tr>
      </table>
  
      <div>
          <ul>
          <li><%= f.submit "更新",user_path ,method: :patch, class: "btn btn-primary"  %></li>
          <li><%= link_to "戻る", user_path"%></li>
          </ul>
      </div>
    <% end %>
</div>
</div>