<div class= "form-container">
  <div class= "form-card">
    <%= form_with model: @user, url: user_session_path , local: true do |f| %>
      
      <table>
          <h3>ログイン</h3>
            <tr>
              <td ><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", class: "searchbox" %></td>
            </tr>
            <tr>
              <td ><%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", class: "searchbox" %></td>
            </tr>
      </table>

      <div class="actions">
        <ul>
          <li><%= f.submit "ログイン" ,class: "btn btn-primary" %></li>
          <li><%= link_to "新しいアカウントを作成", new_user_registration_path, class:"userList"%></li>
        </ul>
      </div>

    <% end %>
  </div>
</div>

